NUXT_PUBLIC_API_URL=/api/v1
NUXT_PUBLIC_STORE_SLUG=             #main
NUXT_PUBLIC_STRIPE_KEY=
NUXT_PUBLIC_BASE_URL=               #http://localhost:3000
NUXT_PROXY_TARGET=                  #http://localhost:8000
NUXT_API_URL=                       #http://localhost:8000/api/v1

# Reverb WebSocket
NUXT_PUBLIC_REVERB_APP_KEY=
NUXT_PUBLIC_REVERB_HOST=localhost
NUXT_PUBLIC_REVERB_PORT=8080

